---
import MainLayout from "../layouts/MainLayout.astro";
import FullWidthGrid from "../components/GridAboutUs/FullWidthGrid";
---

<MainLayout title="About" description="About Page">
	<div class="header">
		<div class="farbcontainerBlue1">
			<p></p>
		</div>
		<div class="farbcontainerBlue2 w-screen">
			<h1 class="pagetitleAbout leading-relaxed p-10">
				The Team behind
			</h1>
		</div>
	</div>
	<div class="page-main w-screen">
		<div class="page-intro flex items-center">
			<p></p>
			<h2 class=" leading-relaxed">
				Behind the formsWizard are four developers and experts in different fields. <br/> We are united by the values of democratic organization, freedom and authenticity.  
			</h2>
		</div>
		<FullWidthGrid />
		<div class="page-intro flex items-center">
			<p></p>
			<h2 class=" leading-relaxed">
				For further contribution send us a push request via the <a class="text-sm" href="https:/github.com/formswizard">FormsWizard Github!</a> 
			</h2>
		</div>
	</div>
</MainLayout>
