---
import MainLayout from "../layouts/MainLayout.astro";
import FastForwardIcon from "@mui/icons-material/FastForward";
import Icon from "@mui/material/Icon";
---

<MainLayout title="Home">
  <div class="wrapper">
    <div class="header">
      <!-- <div class="w-screen"> //tried: rausgenommen statt div ohne klasse vorher -->
      <div class="farbcontainerBlue1">
        <p></p>
      </div>
      <div class="farbcontainerBlue2">
        <h1 class="pagetitleStart leading-relaxed text-center">
          FormsWizard
        </h1>
      </div>
    </div>
    <div class="page-main">
      <div class="page-intro md:w-5/6 sm:w-full">
        <h4 class="leading-relaxed mt-3 text-center">
          Forms Wizard provides you with secure data management and powerful
          analysis options - so you can focus your energy on collaboration and
          the future!
        </h4>
      </div>

      <div class="wrap-element-a">
        <div>
          <img
            src="/src/images/iconsFront/noun-empowering-2202388(1).png"
            class="icon-front"
          />
        </div>
        <div>
          <h1
            class="leading-relaxed font-bold text-[#5660ce] text-center md:text-left sm:pt-50 md:pl-7 text-lg"
          >
            Flexibile Datamanagement
          </h1>
          <p class="leading-relaxed text-[#5660ce] text-center md:text-left">
            The Forms_Wizard aims to support crews in various use cases to
            collect and evaluate the data they need. This can happen self hosted
            or on our infrastructures.
          </p>
        </div>
      </div>
      <div class="wrap-element">
        <div>
          <h1
            class="leading-relaxed font-bold text-[#5660ce] text-center md:text-right md:pr-10 text-lg"
          >
            Data evaluation made easy
          </h1>
          <p class="leading-relaxed text-[#5660ce] text-center md:text-right">
            A core part of the WizardPac is the evaluation tool - with the
            DataWizard you can visualize shift plans, show locations on a map,
            evaluate connections on network graphs & more. <br />Also we
            integrated an interdependence between dataset and visualization so
            that you can effictively make use of the different view ports.
          </p>
        </div>
        <div>
          <img
            src="/src/images/iconsFront/noun-analysis-3694231(1).png"
            class="icon-front"
          />
        </div>
      </div>
      <div class="wrap-element-a">
        <div>
          <img
            src="/src/images/iconsFront/noun-cyber-security-3685949(1).png"
            class="icon-front"
          />
        </div>
        <div>
          <h1
            class="leading-relaxed font-bold text-[#5660ce] text-center md:text-left md:pl-7 text-lg"
          >
            Security by Design & Open Source Distribution
          </h1>
          <p class="leading-relaxed text-[#5660ce] text-center md:text-left">
            Security by Design is the leading concept in the WizardPac build. In
            combination with the Open Source distribution you dont need to trust
            your data into a black box.
          </p>
        </div>
      </div>
      <div class="wrap-element">
        <div>
          <h1
            class="leading-relaxed font-bold text-[#5660ce] text-center md:text-right md:pr-10 text-lg"
          >
            Civic Engagement for Future
          </h1>
          <p class="leading-relaxed text-[#5660ce] text-center md:text-right">
            We believe in civic engagement - in times of increasing crises, not
            only in face of the climate catastrophe, we see the necessity of
            individuals organizing in communities. In that menner the whole
            WizardPac is transparently and collaboratively build as Open-Source.
          </p>
        </div>
        <div>
          <img
            src="/src/images/iconsFront/noun-breathe-clean-air-3046872(1).png"
            class="icon-front"
          />
        </div>
      </div>
    </div>
    <div class="coloredDiv bg-indigo-500">
      <div class="textArea">
        <div>
          <p class="text-center leading-relaxed">
            With Forms Wizard you dont need to trust your data into a blackbox.<br />
            <a class="text-sm" href="/blog"><u>Learn more</u></a> and follow or contribute
            to the development process of this Open Source tool.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-20">
    <p>Coming: Introduction to the different Software Components!</p>
  </div>
  <div></div>
</MainLayout>
