---
//component imports
import Link from "./Link.astro";

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";

import i from "../images/fw/Forms-Wizard_Logo_V5_nomargin.png"
import { Image } from "astro:assets";
import github from "../images/iconsFront/github-mark.png"
---

<div class="design-element-navbar"></div>
<header class="header nav">
  <a href="/" class="logo"><Image src={i} alt="logo"></Image></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/" aria-current="page">Home</a></li>
    <li>
      <Dropdown class="group">
          <button class="invisibleBtn">
            <span>Wizard Components</span>
            <svg
              class="h-5 w-5 rotate-0 transform text-gray-500 group-open:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <DropdownItems class="dropdown-content">
            <ul>
              <li><a class="isDisabled">Generator</a></li>
              <li><a class="isDisabled">Editor</a></li>
              <li><a class="isDisabled">Analyser</a></li> 
            </ul>
          </DropdownItems>
      </Dropdown>
    </li> 
    <li><a class="isDisabled">Examples</a></li>
    <li><a href="/about" aria-label="About">About Us</a></li>
    <li><a href="https://github.com/FormsWizard/formswizard" target="_blank" class="github-link">
      <Image src={github} alt="GitHub" width={22} height={22} />
      <span>GitHub</span>
    </a></li>
  </ul>
</header>

<style>
  .github-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .github-link img {
    width: 22px;
    height: 22px;
  }
  
  [aria-current="page"] {
    color: var(--primary);
    font-weight: 600;
  }
</style>


