---
//component imports
import Link from "./Link.astro";


import i from "../images/fw/Forms-Wizard_Logo_V5_nomargin.png"
import { Image } from "astro:assets";
import github from "../images/iconsFront/github-mark.png"
---

<div class="design-element-navbar"></div>
<header class="header nav sticky">
  <a href="/" class="logo"><Image src={i} alt="logo"></Image></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/" aria-current="page">Home</a></li>
    <li><a href="/#components-section">Components</a></li>
    <li><a href="/#technologies-section">Technologies</a></li>
    <li><a href="/about" aria-label="About">About Us</a></li>
    <li><a href="https://github.com/FormsWizard/formswizard" target="_blank" class="github-link">
      <Image src={github} alt="GitHub" width={22} height={22} />
      <span>GitHub</span>
    </a></li>
  </ul>
</header>

<style>
  .github-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .github-link img {
    width: 22px;
    height: 22px;
  }
  
  [aria-current="page"] {
    color: var(--primary);
    font-weight: 600;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
</style>


