---
//component imports
import Link from "./Link.astro";

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";
---

<header class="header">
  <a href="/" class="logo">Insert Logo</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <Dropdown class="group">
          <button class="invisibleBtn">
            <span> Wizard Components</span>
            <!-- You can style when dropdown is `open` -->
            <svg
              class="h-6 w-6 rotate-0 transform text-gray-500 group-open:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19 9l-7 7-7-7"></path>
            </svg>
            <DropdownItems class="flex justify-end">
              <ul>
                <li><a href="#Generator">Generator</a></li>
                <li><a href="#Editor">Editor</a></li>
                <li><a href="#Analyser">Analyser</a></li>
              </ul>
            </DropdownItems>
          </button>
      </Dropdown>
    </li>
    <li><a href="#examples">Examples (inactive)</a></li>
    <li>
      <a
        href="https://github.com/FormsWizard/formswizard/blob/main/doc/src/SUMMARY.md"
        >Docs</a>
    </li>
    <li>
      <Dropdown class="group">
        <button class="invisibleBtn">
          <span> Resources</span>
          <!-- You can style when dropdown is `open` -->
          <svg
            class="h-6 w-6 rotate-0 transform text-gray-500 group-open:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 9l-7 7-7-7"></path>
          </svg>
          <DropdownItems>
            <ul>
              <li><a href={"/blog"} aria-label="Blog">Blog</a></li>
              <li><a href={"/about"} aria-label="About">About Us</a></li>
              <li><a href={"/FAQ"} aria-label="FAQ">FAQ (inactive)</a></li>
            </ul>
          </DropdownItems>
        </button>
      </Dropdown>
    </li>
  </ul>
</header>
