---
import MainLayout from "../layouts/MainLayout.astro";
import FullWidthGrid from "../components/GridAboutUs/FullWidthGrid";
---

<MainLayout title="About" description="About Page">
	<div class="pagestructure w-screen">
		<div class="farbcontainerBlue1">
			<p></p>
		  </div>
		<div class="farbcontainerBlue2 w-screen">		
			<h1 class="pagetitleAbout text-center leading-relaxed p-10">About Us</h1>
		</div>
		<div class="flex w-1/2 items-center">
			<p></p>
			<h2 class="text-center leading-relaxed">
				Behind the forms_Wizard prototype are 4 developers with different
				expertise..
			</h2>
		</div>
		<FullWidthGrid></FullWidthGrid>
	</div>
</MainLayout>
