---
import MainLayout from "../layouts/MainLayout.astro";
import FullWidthGrid from "../components/GridAboutUs/FullWidthGrid";
---

<MainLayout title="About" description="About Page">
	<div class="pagestructure">
		<h1 class="pagetitle text-center leading-relaxed p-10">About Us</h1>
		<div>
			<p class="text-center leading-relaxed">
				Behind the Form Wizard prototype are 4 developers with different
				expertise..
			</p>
		</div>
		<FullWidthGrid></FullWidthGrid>
	</div>
</MainLayout>
