---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer";
---

<MainLayout title="About" description="About Page">
  <div class="pagestructure">
    <h1 class="pagetitle">About Us</h1>
    <div>
      <div>
        <p>
          Behind the Form Wizard prototype are 4 developers with different
          expertise. The majority of us had never imagined to initiate a project
          on table processing and forms. But here we go! With the meaning behind
          it, we suddenly don't find tables and forms boring anymore, but ponder
          about the different use cases of the end users.
        </p>
      </div>
      <div>
		<p style="color: green;">Coming soon: <br> Introduction of the Team-Members!</p>
        <div class="grid grid-cols-2" >
          <div class="..."></div>
          <div class="col-span-2 ... ">
			<img src="../images/Avatar1.png" alt="Avatar1" style="width:300px"/>
            <p>ja_ob</p>
          </div>
          <div class="..."></div>
          <div class="...">
			<img src="../images/Avatar2.png" alt="Avatar2" style="300px"/>
            <p>jo3</p>
          </div>
          <div class="..."></div>
          <div class="col-span-2 ...">
			<img src="../images/Avatar3.png" alt="Avatar3" style="300px"/>
            <p>sam</p>
          </div>
          <div class="..."></div>
          <div class="...">
			<img src="../images/Avatar4.png" alt="Avatar4" style="300px"/>
            <p>sebastian</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
