---
import MainLayout from "../layouts/MainLayout.astro";
import FullWidthGrid from "../components/GridAboutUs/FullWidthGrid";
---

<MainLayout title="About" description="About Page">
	<div class="pagestructure">
		<h1 class="pagetitle text-center leading-relaxed">About Us</h1>
		<div>
			<p class="text-center leading-relaxed">
				Behind the Form Wizard prototype are 4 developers with different
				expertise. Most of us had never imagined initiating a project about table processing and forms. But here we go! With the meaning behind it, suddenly we don't find tables and forms boring anymore, but think about the different use cases of the end users.
			</p>
		</div>
		<FullWidthGrid></FullWidthGrid>
	</div>

</MainLayout>
