---
import MainLayout from "../layouts/MainLayout.astro";
import CircularProgress from "@mui/material/CircularProgress";
import LinearProgress from "@mui/material/LinearProgress";

// Import multiple files with Astro.glob
//const posts = await Astro.glob('../content/*.md');
// Import a single file
import { Content as GeneralIntro } from "../content/generalIntro.md";
import { Content as DesignProcess } from "../content/designprocess/designprocess.md";
---

<MainLayout>
  <div class="object-position: top;">
    <img
      class="object-position: top;"
      src="/src/images/projectIntro_picEdit3.png"
      width="100%"
      alt="projectIntroPic"
    />
  </div>
  <div class="pagestructure">
    <div>
      <h1 class="pagetitle">Blog</h1>
    </div>
    <div>
      <LinearProgress color="secondary" />
      <LinearProgress color="success" />
      <LinearProgress color="inherit" />
    </div>
    <div>
      <GeneralIntro/>
      <DesignProcess/>
    </div>
  </div>
</MainLayout>
