---
import BlogpostLayout from "../layouts/BlogpostLayout.astro";

// Import multiple files with Astro.glob
//const posts = await Astro.glob('../content/*.md');
// Import a single file
import { Content as GeneralIntro } from "../content/generalIntro.md";
import { Content as DesignProcess } from "../content/designprocess/designprocess.md";
import {Content as InformationArchitecture } from "../content/informationArchitecture.md";
---

<BlogpostLayout>
  <div class=" pagestructureBlog">
    <div class="object-position: top;">
      <div class="farbcontainerBlue1">
        <p></p>
      </div>
      <div class="farbcontainerBlue2 w-screen">
        <h1 class="pagetitleBlog">Blog</h1>
      </div>
    </div>

    <div class="w-screen flex flex-col  items-center">
      <div><p></p></div>
      <h3 class="blogIntro text-center leading-relaxed text-[#5660ce]">
        Here you find some notes on the development process, thoughts on
        security design, key learnings that we value to share and other notes.
      </h3>
      <div><p></p></div>
      <div class="blogContent flex flex-col">
        <GeneralIntro />
        <DesignProcess />
        <InformationArchitecture />
      </div>
    </div>
  </div>
</BlogpostLayout>
