---
import MainLayout from "../layouts/MainLayout.astro";

// Import multiple files with Astro.glob
//const posts = await Astro.glob('../content/*.md');
// Import a single file
import { Content as GeneralIntro } from "../content/generalIntro.md";
import { Content as DesignProcess } from "../content/designprocess/designprocess.md";
---

<MainLayout>
  <div class="object-position: top;">
    <img
      class="object-position: top;"
      src="/src/images/projectIntro_picEdit3.png"
      width="100%"
      alt="projectIntroPic"
    />
    <div class="farbcontainerYellow">
      <h1 class="pagetitle">Blog</h1>
    </div>
  </div>

  <div class="pagestructure">
    <div>
    </div>
    <h3>
      Here you find some notes on the development process, thoughts on security
      design, key learnings, that we value to share, things we figured out on
      the way or other notes.
    </h3>
    <div>
      <GeneralIntro />
      <DesignProcess />
    </div>
  </div>
</MainLayout>
