---
import MainLayout from "../layouts/MainLayout.astro";
import FastForwardIcon from "@mui/icons-material/FastForward";
import Icon from "@mui/material/Icon";
---

<MainLayout title="Home">
  <div class="object-position: top;">
    <img
      class="object-position: top;"
      src="/src/images/projectIntro_picEdit4.png"
      width="100%"
      alt="projectIntroPic"
    />
  </div>
  <div class="pagestructure">
   
    <div>
      <h1 class="pagetitle text-center">
        Welcome to the forms_Wizard Project Page!
      </h1>
    </div>

    <div>
      <p class="leading-relaxed">
        forms_Wizard is an open source tool under development that supports
        civic engagement in data management. In civic organizing contexts there
        are usually few resources and a lot of structure is needed to pool the
        collected energy. With forms_Wizard, we aim to support crews in various
        use cases to collect and evaluate the data they need. In times of
        increasing crises, not only in face of the climate catastrophe, we see
        the necessity of civic engagement.
        <br />
        <br />
        In developing the forms_Wizard project, our focus is on independence in development
        [it's all open source], customizability [we see the broad spectrum of civic
        engagement], and consideration of safety aspects.
      </p>
    </div>
    <div>
      <a href="/blog" class="p-5">
        <FastForwardIcon sx={{ fontSize: 50 }} aria-label="learn more" />
      </a>
      <Icon />
    </div>
  </div>
</MainLayout>
