---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '@mui/material/Button';

const btnName = "Follow our dev path!";
---

<MainLayout title="Home">
  <div class="pagestructure">
    <h1 class="pagetitle">Welcome to the Forms_Wizard Project Page!</h1>
    <div>
      <div>
        <p class="leading-normal">
          FormzWizard is a developing open source tool to support civic engagement in their data management.
          In contexts of civic organisation there are mostly low resources and a lot of structure needed to focus the gathered strengths.
          With formsWizard we aim to support crews in different usecases to collect the right data from their interest group and process and edit that data in an easy and especially secure way.
          While proceeding the Forms_Wizard project our focus lays on
          independency in development [we love opensource!], adjustability [we
          see the wide range of civic engagement] and reflection of security aspects.
        </p>
      </div>
      <div>
          <Button variant="outlined">Dive in</Button>
      </div>
    </div>
  </div>
</MainLayout>
