---
import MainLayout from "../layouts/MainLayout.astro";
import FastForwardIcon from "@mui/icons-material/FastForward";
import Icon from "@mui/material/Icon";
---

<MainLayout title="Home">
  <div class="flex flex-col items-center">
    <div class="w-screen">
      <div class="farbcontainerBlue1">
        <p></p>
      </div>
      <div class="farbcontainerBlue2">
        <h1 class="pagetitleStart text-center">the forms_Wizard Project</h1>
      </div>
    </div>
    <div class="pagestructureCenter">
      <div class="pagestructureBreakflow">
        <div>
          <h1 class="leading-relaxed text-center mt-6">
            <a href="/blog"><u>Learn more</u></a> and follow the development process
            of <br />a tool that supports civic engagement in data management
            <br />
            <br />
          </h1>
        </div>
        <div>
          <p class="leading-relaxed text-[#5660ce]">
            <strong
              >In civic organizing contexts there are usually few resources and
              a lot of structure is needed to pool the collected energy. With
              forms_Wizard, we aim to support crews in various use cases to
              collect and evaluate the data they need. In times of increasing
              crises, not only in face of the climate catastrophe, we see the
              necessity of civic engagement.
            </strong>
          </p>
        </div>
        <div></div>
        <div>
          <p class="leading-loose text-[#5660ce]">
            While developing the forms_Wizard project, we focus on <strong
              >independence in development</strong
            > [it's all open source], <strong>customizability</strong> [we see the
            broad spectrum of civic engagement], and consideration of <strong
              >safety aspects</strong
            >.
          </p>
        </div>
      </div>
      <div>
        <!-- <a href="/blog" class="p-5"> -->
        <!-- <FastForwardIcon sx={{ size: 10 }} aria-label="learn more" /> -->
        <!-- </a> -->
        <!-- <Icon /> -->
      </div>
    </div>
  </div>
</MainLayout>
