---
import MainLayout from "../layouts/MainLayout.astro";
import CircularProgress from "@mui/material/CircularProgress";
import LinearProgress from "@mui/material/LinearProgress";
---

<MainLayout>
  <div class="pagestructure">
  <div>
    <h1 class="pagetitle">Here you will see our progress..</h1>
  </div>
    <div>
      <LinearProgress color="secondary" />
      <LinearProgress color="success" />
      <LinearProgress color="inherit" />
    </div>
    <div>
      <p>We follow you up soon!</p>
      <p>
        In the meantime check out our <a
          style="color: green"
          href="https://github.com/FormsWizard">github project page</a
        > !
      </p>
    </div>
  </div>
</MainLayout>
